.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
}
.title {
  color: #fff;
  font-size: 3rem;
}
.controles {
  color: red;
  margin-left: 4rem;
  font-size: 2rem;
}
.contatos {
  flex-direction: column;
  margin-left: 20rem;
  background-color: #3636368c;
  border-radius: 5 ;
}
.headerContatos {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 1rem;

}
.buttons {
  margin-top: 1rem;
  margin-left: 5rem;
}
.buttom {
  height: 3.4rem;
  width:  3.4rem;
  align-items: center;
   background-color: #0303038c;
   color: #fff;
   border-width: 0.1rem;
   border-color: #3f0000;
   margin-left: 1rem;
   border-radius: 5px;
   font-size: 1.7rem;
   padding-top: 0.3rem;
   
}
.buttom:hover{
  box-shadow: 1px 2px 9px #3f0000;
}
.pesquisa {
  align-items: center;
  margin-bottom: 1.5rem;
}
.buttomPesquisa {
  background-color: #ffffff93;
  border-radius: 4px;
  height: 3.3rem;
  width: 5rem;
  border-width: 0.1rem;
  border-color: #1C1C1C;
   color: #fff;
   font-size: 1.5rem;
   box-shadow: 1px 2px 5px  #de0000;;
   
}
.inputPesquisa {
background-color: #1C1C1C;
height: 3.5rem;
width: 31rem;
border-width: 0.1rem;
border-color:#000000;
   font-size: medium;
   color: #fff;
   box-shadow: 1px 2px 5px #de0000;
   border-radius: 4px;

}
.listaContatos {
  background-color: #363636;
  padding: 2rem;
  
}

.listaCatalogo {
  display: flex;
  flex:1;
  flex-direction: row;
}
.letraCatalogo {
  height: 4rem;
  width: 4rem;
  border-radius: 60px;
  background-color: var(--color-bg-dark);
  border: 1px solid #de0000;
  box-shadow: 1px 2px 5px #de0000;
  font-size: 2rem;
  margin-right: 4rem;
  margin-top: 4rem;
  text-align: center;
  padding-top: 0.2rem;
  color: #363636;
}